# Simulation Data
simulations/
simulations_test/
test_run/
test_*/
structures/
analysis_outputs/
scratch/
*.pdb
*.fasta
*.ali
*.pir

# Binary & Data Files
*.chk
*.xml
*.log
*.dcd

# Output Plots & Reports
*.png
*.pdf

# Python
__pycache__/
*.py[cod]
*$py.class
.ipynb_checkpoints
*.egg-info/
build/
dist/
.ruff_cache/

# Documentation
_build/
